<mat-toolbar color="primary">
  <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/group-list">FitBit App</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/add-group">Add a Group</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/activity-data">Activity Data</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/comparison-data">Comparison Data</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/heartrate-data">Heartrata Data</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/sleep-data">Sleep Data</button>

  <span style="flex:1 1 auto"></span>
  <button mat-button routerLinkActive="active" routerLink="/login">Login</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" (click)="Logout()"> Logout</button>
  <button mat-button routerLinkActive="active" routerLink="/signup">Register</button>
</mat-toolbar>
