<mat-card style="float:right;width:45%;overflow:hidden;margin-top:4%">
      <mat-card-header>
        <mat-card-title>
          <h2>Their Data:</h2>
        </mat-card-title>
      </mat-card-header>
  <mat-card-content>
<div *ngIf="activityData != undefined">
      <ngx-charts-bar-vertical
          [results]="chartData"
          [view]="view"
          [scheme]="colorScheme"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-vertical>
  </div>
</mat-card-content>
</mat-card>